body {
	background: #000000;
}

.wrapper {
	width: 960px;
	height: 883px;
	
	margin: auto;
	
	font-family: Arial, sans-serif;
	background: url(../img/background.png) no-repeat center;
}

header {
	height: 152px;
}

.logo {
	display: inline-block;
	width: 260px; 

	padding-left: 70px;
}

.logo h1 {
  margin-top: -25px;

  font-size: 11px;
  font-weight: bold;	
  text-align: center;
  color: #e6e6e6;
}

.contact {
	width: 120px;
	
	padding-right: 87px;
	padding-top: 100px;
	
	float:right;

	text-align: left;
	color: white;
}

.contact h2 {
	font-size: 12px;
	font-weight: bold;
}

.contact h3 {
	font-size: 11px;
}

.content {
	height: 634px;

	padding-left: 58px;
}

.spa {
	height: 260px;
	display: inline-block;
	
	margin-bottom: 30px;
	margin-top: -10px;
	padding-right: 12px;
	
	text-align: center;
	color: #b4b4b4;

}

.spa img {
	border: 3px solid #989898;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

footer {
	text-align: center;
	font-size: 12px;
	font-weight: bold;

	color: #c0c0c0;
}